* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  max-width: 1440px;
}

.section1 {
  padding: 0px 180px 0px 180px;
  align-items: center;
}

.article1 {
  padding: 0px 180px 0px 180px;
  align-items: center;
  background-color: #F6F6F6;
}

.b {
  display: flex;
  position: relative;
  justify-items: start;
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
}

.c {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 15.04px;
  margin: 0;
}

/*********************** Header home page ***************************/
header {
  display: flex;
  flex-direction: column;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 96px;
  font-size: 30px;
  font-weight: 400;
  background: #ffffff;
  font-family: "shrikhand";
  margin: 0;
}
header .location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: #eaeaea;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 50px;
}
header .location p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
}

/******************* Book the meal you want section *************************/
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f6f6f6;
  width: 100%;
  height: 50vh;
}

.about h2 {
  font-size: 24px;
  font-weight: 700;
  word-wrap: break-word;
}

.about p {
  padding: 0 26px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  word-wrap: break-word;
}

.explore {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: none;
  font-weight: 500;
  color: white;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/******************* How it works *************************/
.how {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
  padding-bottom: 50px;
}

.how h2 {
  padding-top: 48px;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
}

.how-container {
  margin-top: 26px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
@media only screen and (min-width: 960px) {
  .how-container {
    flex-direction: row;
  }
}

.how-filter {
  background-color: #f6f6f6;
  height: 70px;
  width: 100%;
  max-width: 1100px;
  min-width: 300px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 27px;
  word-wrap: break-word;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.how-filter h5 {
  display: flex;
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  color: white;
  align-items: center;
  background-color: #9356DC;
  padding: 6px;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  left: -10px;
}
.how-filter .text {
  font-size: 16px;
  display: flex;
  font-weight: 500;
}

.homepage-icons {
  fill: #353535;
}

.homepage-icons :hover {
  fill: #9356DC;
}

/******************* restaurants *************************/
.restaurant-container {
  margin-top: 40px;
  padding-bottom: 40px;
  background-color: #F6F6F6;
}
.restaurant-container h2 {
  padding-top: 40px;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

#eating-places-link {
  scroll-behavior: smooth;
  width: 100%;
}

/* Center the grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  padding-top: 30px;
  justify-content: center;
}

/* Card layout */
.restaurant-card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
  color: black;
  text-decoration: none;
  max-height: 251px;
}

/* Heart toggle */
.heart-toggle,
.heart-toggle1 {
  display: none;
}

.heart-toggle + label svg {
  cursor: pointer;
  transition: fill 0.3s ease, stroke 0.3s ease;
  position: absolute;
  bottom: 30px;
  right: 20px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.heart-toggle1 + label svg {
  cursor: pointer;
  transition: fill 0.3s ease, stroke 0.3s ease;
  position: absolute;
  display: inline-block;
  width: 22px;
  height: 21px;
}

/*  heart style on hover */
.heart-toggle:not(:checked) + label:hover svg path,
.heart-toggle1:not(:checked) + label:hover svg path {
  fill: url(#heartHoverGradient); /* Change fill color on hover */
  stroke: transparent; /* Hide the heart border on hover */
}

/*  heart style when checked */
.heart-toggle:checked + label svg path,
.heart-toggle:checked + label svg path {
  fill: url(#heartGradient); /* Use linear gradient for fill when checked */
  stroke: transparent; /* Hide the heart border when checked */
}

/*  linear gradient for heart fill */
#heartGradient,
#heartGradient1,
#heartGradient2,
#heartGradient3 {
  fill: url(#heartGradient);
}

/*  linear gradient for heart fill on hover */
#heartHoverGradient,
#heartHoverGradient1,
#heartHoverGradient2,
#heartHoverGradient3 {
  fill: url(#heartHoverGradient);
}

/*  linear gradient */
linearGradient#heartGradient,
linearGradient#heartGradient1,
linearGradient#heartGradient2,
linearGradient#heartGradient3 {
  stop-color: #9356DC;
  stop-opacity: 1;
}

linearGradient#heartGradient stop:nth-child(2),
linearGradient#heartGradient1 stop:nth-child(2),
linearGradient#heartGradient2 stop:nth-child(2),
linearGradient#heartGradient3 stop:nth-child(2) {
  stop-color: #FF79DA;
  stop-opacity: 1;
}

/*  linear gradient for heart fill on hover */
linearGradient#heartHoverGradient,
linearGradient#heartHoverGradient1,
linearGradient#heartHoverGradient2,
linearGradient#heartHoverGradient3 {
  stop-color: #9356DC;
  stop-opacity: 1;
}

linearGradient#heartHoverGradient stop:nth-child(2),
linearGradient#heartHoverGradient1 stop:nth-child(2),
linearGradient#heartHoverGradient2 stop:nth-child(2),
linearGradient#heartHoverGradient3 stop:nth-child(2) {
  stop-color: #FF79DA;
  stop-opacity: 1;
}

/************* Rest of your card content styling */
.image-card-restaurant {
  width: 100%;
  height: 231px;
  display: block;
  top: -57px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.new-label-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width: 80px;
  display: flex;
  height: 29px;
  align-items: center;
  justify-content: center;
}

.restaurant-card-all {
  padding: 10px;
}

.card-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.card-text h4 {
  font-size: 18px;
  font-weight: 700;
}

.card-text h5 {
  margin: 5px 0 0;
  font-size: 17px;
  font-weight: 300;
}

span {
  display: none;
}

/******************* footer *************************/
.footer {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 30px 65px 30px 25px;
  background-color: #353535;
  width: 100%;
  height: 114px;
  gap: 50px;
  color: white;
}

.position {
  position: absolute;
  z-index: 2;
  bottom: -884px;
}

.title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "shrikhand";
  font-weight: 400;
  word-wrap: break-word;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.links {
  text-decoration: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  list-style-type: none;
  color: white;
  gap: 40px;
  display: flex;
  justify-content: space-evenly;
}
.links a {
  text-decoration: none;
  color: white;
}

.spacing {
  gap: 7px;
  display: flex;
}

.unordered-list {
  display: flex;
  gap: 50px;
  text-decoration: none;
  list-style: none;
}
.unordered-list li {
  text-decoration: none;
  color: white;
}
.unordered-list a {
  text-decoration: none;
  color: white;
}

/***** restaurant pages *****/
.menu-pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  min-width: 375px;
}

.header-restaurants {
  display: flex;
  height: 96px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
}
.header-restaurants .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 30px;
  font-weight: 400;
  background: #ffffff;
  font-family: "shrikhand";
  margin: 0;
}

.menu-picture {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  justify-content: center;
  width: 100%;
  height: 383px;
  margin-bottom: -10px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  max-width: 1055px;
  min-width: 375px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: #F6F6F6;
  width: 100%;
  margin-top: -40px;
}
.menu h3 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  padding-bottom: 8px;
  width: 40px;
  border-color: #99E2D0;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 675px;
  min-width: 300px;
  height: 70px;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 20px;
  gap: 20px;
}
.name h2 {
  font-family: "shrikhand";
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
}

.heart--container {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  height: 25px;
  margin-top: 5px;
}

.meals-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-self: center;
  padding: 20px;
  gap: 10px;
  width: 85%;
  max-width: 634px;
  min-width: 330px;
}

.dish {
  display: flex;
  align-items: center;
  line-height: 1.5;
  height: 69px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.dish-description {
  display: flex;
  flex-direction: column;
  width: 640px;
  justify-content: center;
  padding: 0px 0px 0px 12px;
}
.dish-description h4 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto";
}
.dish-description p {
  font-weight: 300;
  font-size: 15.04px;
  margin: 0px;
  font-family: "Roboto";
  white-space: nowrap;
}

.todays-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 675px;
  min-width: 300px;
  height: 70px;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 20px;
  gap: 20px;
}

.restaurant-container-for-menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  max-width: 1055px;
  min-width: 375px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: #F6F6F6;
  width: 100%;
  margin-top: -40px;
}

.body-menu-pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  min-width: 375px;
}

.subtitles-uppercase {
  text-transform: uppercase;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  padding-bottom: 8px;
  width: 40px;
  border-color: #99E2D0;
}

.starters {
  animation: fade-In 1s ease-in;
}

.mains {
  animation: fade-In 2s ease-in;
}

.desserts {
  animation: fade-In 3s ease-in;
}

@keyframes fade-In {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.checkbox {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  height: 75px;
  width: 59px;
  position: relative;
  left: 60px;
}

.checkbox .check {
  display: flex;
  align-self: center;
  justify-self: end;
  width: 59px;
}

.check {
  width: 17px;
  height: 17px;
}

.dish:hover .checkbox {
  animation: move 1.2s ease forwards;
}

.price {
  display: flex;
  align-self: end;
  padding-right: 12px;
  margin-bottom: 14px;
  left: 60px;
  position: relative;
}

.dish:hover .price {
  display: flex;
  align-self: end;
  padding-right: 12px;
  margin-bottom: 14px;
  animation: move 1.2s ease forwards;
}

@keyframes move {
  0% {
    left: 60px;
  }
  60% {
    left: 0px;
  }
  100% {
    left: 60px;
  }
}
.Order-btn {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: white;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 40px 20px;
  width: 186px;
  height: 50px;
  border-style: none;
  border-radius: 50px;
  background-image: linear-gradient(#ff79da, #9356DC 100%);
  box-shadow: 0px 5px 8px 0px #C3C3C3;
}

/***** Media Querys *******/
@media only screen and (min-width: 360px) and (max-width: 768px) {
  .section1,
  .article1 {
    padding: 0px 20px 0px 20px;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .menu-text {
    white-space: nowrap;
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
  .footer {
    height: 186px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 25px 22px 25px;
    gap: 16px;
  }
  .links,
  .unordered-list {
    gap: 7px;
    min-width: 190px;
    font-size: 16px;
    font-weight: 500;
  }
  .meals-list {
    padding: 10px;
    width: 100%;
  }
  .name {
    min-width: 355px;
    padding-left: 0px;
  }
}
@media screen and (min-width: 1440px) {
  .align-content-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 30px;
    justify-content: center;
    max-width: 1080px;
    width: 100%;
    margin-right: 0;
  }
}
@media screen and (min-width: 1440px) {
  .footer-background {
    display: flex;
    flex-direction: row-reverse;
    background-color: #353535;
    justify-content: flex-start;
    padding: 20px;
    height: 114px;
    align-items: flex-end;
  }
  .footer-background .footer-logo {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    padding-left: 60px;
  }
  .footer-background ul {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    align-items: flex-end;
    margin-bottom: 0;
  }
  .footer-background ul li {
    display: inline;
    list-style: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: white;
    text-decoration: none;
    line-height: 30px;
  }
  .footer-background ul li :-moz-any-link {
    color: white;
    text-decoration: none;
  }
  .footer-background ul li :any-link {
    color: white;
    text-decoration: none;
  }
}/*# sourceMappingURL=main.css.map */