* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  max-width: 1440px;
}

section {
  padding: 0px 80px 0px 80px;
  align-items: center;
}

article {
  padding: 0px 80px 0px 80px;
  align-items: center;
  background-color: #F6F6F6;
}

/*********************** Header home page ***************************/
header {
  display: flex;
  flex-direction: column;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 96px;
  font-size: 30px;
  font-weight: 400;
  background: #ffffff;
  font-family: "shrikhand";
  margin: 0;
}
header .location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: #eaeaea;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 50px;
}
header .location p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
}

/******************* Book the meal you want section *************************/
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f6f6f6;
  width: 100%;
  height: 37vh;
}

.about h2 {
  font-size: 24px;
  font-weight: 700;
  word-wrap: break-word;
}

.about p {
  padding: 0 26px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  word-wrap: break-word;
}

.explore {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: none;
  font-weight: 500;
  color: white;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/******************* How it works *************************/
.how {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
  padding-bottom: 50px;
}

.how h2 {
  margin-top: 48px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
}

.how-container {
  margin-top: 26px;
  padding: 0 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media only screen and (min-width: 960px) {
  .how-container {
    flex-direction: row;
  }
}

.how-filter {
  background-color: #f6f6f6;
  height: 70px;
  width: 100%;
  max-width: 1100px;
  min-width: 300px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 27px;
  word-wrap: break-word;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.how-filter h5 {
  display: flex;
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  color: white;
  align-items: center;
  background-color: #9356DC;
  padding: 6px;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  left: -10px;
}
.how-filter .text {
  font-size: 16px;
  display: flex;
  font-weight: 500;
}

.homepage-icons {
  fill: #353535;
}

.homepage-icons :hover {
  fill: #9356DC;
}

/******************* restaurants *************************/
.restaurant-container {
  margin-top: 40px;
  padding-bottom: 40px;
  background-color: #F6F6F6;
}
.restaurant-container h2 {
  padding-top: 40px;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

#eating-places-link {
  scroll-behavior: smooth;
  width: 100%;
}

/* Center the grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  padding-top: 30px;
  justify-content: center;
}

/* Card layout */
.restaurant-card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
  color: black;
  text-decoration: none;
  max-width: 490px;
  max-height: 251px;
}

/* Heart toggle */
.heart-toggle {
  display: none;
}

.heart-toggle + label svg {
  cursor: pointer;
  transition: fill 0.3s ease, stroke 0.3s ease;
  position: absolute;
  bottom: 30px;
  right: 20px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

/*  heart style on hover */
.heart-toggle:not(:checked) + label:hover svg path {
  fill: url(#heartHoverGradient); /* Change fill color on hover */
  stroke: transparent; /* Hide the heart border on hover */
}

/*  heart style when checked */
.heart-toggle:checked + label svg path {
  fill: url(#heartGradient); /* Use linear gradient for fill when checked */
  stroke: transparent; /* Hide the heart border when checked */
}

/*  linear gradient for heart fill */
#heartGradient {
  fill: url(#heartGradient);
}

/*  linear gradient for heart fill on hover */
#heartHoverGradient {
  fill: url(#heartHoverGradient);
}

/*  linear gradient */
linearGradient#heartGradient {
  stop-color: #9356DC;
  stop-opacity: 1;
}

linearGradient#heartGradient stop:nth-child(2) {
  stop-color: #FF79DA;
  stop-opacity: 1;
}

/*  linear gradient for heart fill on hover */
linearGradient#heartHoverGradient {
  stop-color: #9356DC;
  stop-opacity: 1;
}

linearGradient#heartHoverGradient stop:nth-child(2) {
  stop-color: #FF79DA;
  stop-opacity: 1;
}

/************* Rest of your card content styling */
.image-card-restaurant {
  width: 100%;
  height: 231px;
  display: block;
  top: -57px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.new-label-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width: 80px;
  display: flex;
  height: 29px;
  align-items: center;
  justify-content: center;
}

.restaurant-card-all {
  padding: 10px;
}

.card-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.card-text h4 {
  font-size: 18px;
  font-weight: 700;
}

.card-text h5 {
  margin: 5px 0 0;
  font-size: 17px;
  font-weight: 300;
}

span {
  display: none;
}

/******************* footer *************************/
.footer {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 40px 30px 40px;
  background-color: #353535;
  width: 100%;
  /* height: 186px; */
  gap: 25px;
  color: white;
}

.position {
  position: absolute;
  z-index: 2;
  bottom: -884px;
}

.title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "shrikhand";
  font-weight: 400;
  word-wrap: break-word;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.links {
  text-decoration: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  list-style-type: none;
  color: white;
  gap: 40px;
  display: flex;
  justify-content: space-evenly;
}

.spacing {
  gap: 7px;
  display: flex;
}/*# sourceMappingURL=main.css.map */